.about-wrapper{

  //Font Style
  color: white;
  letter-spacing: .02em;
  font-size: 11pt;
  line-height:1.7em;
  font-family: 'futura-pt', sans-serif;
  font-weight: 300;

  .text{
    flex-grow: 5;
    .greeting{
      display: flex;
      flex-direction: row;
      align-items: center;
      h2{
      	font-size: 20pt;
        font-weight: 400;
        margin-bottom: 10px;
        @media only screen and (max-width: 750px){ font-size: 17pt;}
      }
      img{
        @media only screen and (max-width: 750px){ width: 19pt;}
        transform-origin: right bottom;
        width: 30px;
        margin-top: -10px;
        margin-right: 10px;
        animation: 1s cubic-bezier(.36,.07,.19,.97) both wave;
        //backface-visibility: hidden;
        //perspective: 1000px;
      }
    }
    p{
      @media only screen and (max-width: 750px){ font-size: 12pt;}
    	font-weight: 200;
    	font-size: 14pt;
    	line-height:1.7em;
      margin-bottom: 20px;
    }
  }
  .portrait img{
    object-fit:fit;
    width: 200px;
    border-radius: 50%;
    transform: scaleX(-1);
  	position: relative;
    margin-right: 50px;
    margin-bottom: 30px;
    filter: contrast(.9);
  }
  .about{
    padding-top: 75px;
    padding-bottom: 100px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;

    display: flex;
    flex-direction: row;
  }
  @media only screen and (max-width: 750px){
    .about{
      margin-top: -20px;
      font-size: 9pt;
      flex-direction: column;
    }
    .portrait img{
      width: 150px;
    }
  }

}




@keyframes wave {
  10%, 90% {
    transform:  rotate(10deg);
  }

  20%, 80% {
    transform: rotate(-10deg);
  }

  30%, 50%, 70% {
    transform:  rotate(10deg);
  }

  40%, 60% {
    transform:  rotate(-10deg);
  }
}
