<!DOCTYPE html>
<html lang = 'en'>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">

		<!--create pipe in between titles if page title is specified-->
    <title>
			{{page.title}}
			{% assign titleCount = page.title | size %}
			{% if titleCount > 0 %}｜{% endif %}
			{{base.title}}
		</title>




    <!--Style-->
		<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">

	</head>




	<body>
		<div class="default-simple-wrapper">
			<div class="nav">
				<div class="menu">
					<div class="home">
						<a href="/"><img src="assets/svg/logo/logo.svg" alt="">
							<div>John Barger</div>
						</a>
					</div>
					<div class="contact">
						<a href="#">johnbarger97@gmail.com</a>
						<a href="#">253 355 3718</a>
					</div>
				</div>
			</div>
		</div>




			</div>

			<div class="content-wrapper">
				{{ content }}
			</div>

		<!--Scripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</body>

</html>
