@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css?family=Roboto:500);

  font-family: "iconRounded";
  src: url(fonts/iconRounded.otf);

  font-family: "FuturaRain";
  src:url(fonts/FuturaRainV2.otf);
}
